---
import { SITE_TITLE } from '../consts';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const canonical = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="canonical" href={canonical} />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL('/atom.xml', Astro.site)}
/>

<title>{title}</title>
{description && <meta name="description" content={description} />}

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
{description && <meta property="og:description" content={description} />}
<meta property="og:url" content={canonical} />
<meta name="twitter:card" content="summary" />
